<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/template/css/createPost.css">
    <title>CreatePost</title>
</head>
<body>
  {{template "header" .}}

    <h1>Create Post</h1>

    <form action="/create-post" enctype="multipart/form-data" class="form" method="POST">
        <div class="field">
            <textarea class="title" required type="text" placeholder="Title" name="title"></textarea>
            <br>
            <textarea class="content" required type="text" placeholder="Content" name="content"></textarea>
        </div>
        <div class="choose">
        <fieldset>
          <div class="checkbox-content">
            <legend>Choose a category: </legend>
            {{range .Categories}}
            <div>
              <input type="checkbox" name="categories" value="{{.Name}}" />
              <label>{{.Name}}</label>
            </div>
            {{end}}
        </div>
        <input name="picture" multiple="multiple" type="file">
          </fieldset>
        </div>
        <button class="btn" type="submit">Create Post</button>
    </form>
    <form class="form" action="/create-category" method="post">
      <input name="name" required></input>
      <button class="btn" label="create category" type="submit">Create category</button>
    </form> 
</body>
</html>
