<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/template/css/createPost.css">
    <title>Edit Post</title>
</head>
<body>
  {{template "header" .}}

    <h1>Edit Post</h1>

    <form action="/update-post" class="form" method="POST">
	<input type="hidden" name="postID" value="{{.Post.ID}}"/>
        <div class="field">
		<textarea class="title" required type="text" placeholder="Title" name="title">{{.Post.Title}}</textarea>
            <br>
	    <textarea class="content" required type="text" placeholder="Content" name="content">{{.Post.Content}}</textarea>
        </div>
        <div class="choose">
        </div>
        <button class="btn" type="submit">Update Post</button>
    </form>
</body>
</html>
