<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/template/js/index.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/template/css/index.css">
    <title>homepage</title>
</head>
<body> 
    {{template "header" .}}
<br>
<div>
    {{if .Categories}}
    <form class="form" action="/filter" method="get">
	{{ range .Categories }}
	    <div class="category"><input name="category" type="checkbox" value="{{.Name}}">{{.Name}} </div>
	{{end}}
    <button type="submit" class="btn">Search</button>
    </form>
    {{end}}
</div>
<form class="form" action="/create-category" method="post">
	<input name="name" required></input>
	<button class="btn" label="create category" type="submit">Create category</button>
</form> 
<div class="post">
    {{ range .Post }}
      <fieldset>
        <legend class="author">{{ .Author.Name }}</legend>
        <div class="content-limit">
          <a href="/post/{{.ID}}">{{ .Title }}</a>
          <div class="content">
	      <pre>{{  .Content }}</pre>
		{{range .Pictures}}
            <img src="data:{{ .Type }};base64, {{ .Value }}">
	    {{end}}
            <br><br>
            <p class="category">Category: {{ range .Categories }}{{.Name}} {{end}}</p> 
	    <p>{{.CreatedAt.Format "2006-01-02 03:04:05"}}</p>
            </div>
            </div>
         </fieldset>
         <br>

    {{ end }}
          
        <br>
</div>
        

    </body>
</html>
