<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/template/css/myprofile.css">
    <title>My Profile Page</title>
</head>
<body>
    {{template "header" .}}
  <h1>Hi, {{.Data.Username}}!</h1>
  <h2>My Posts:</h2>
  <div class="post">
  {{ range .Post }}
  <fieldset>
    <legend class="author">{{ .Author.Name }}</legend>
    <div class="content-limit">
      <a href="/post/{{ .ID }}">{{ .Title }}</a>
      <div class="content">
	  <pre>{{  .Content }}</pre>
        <br><br>
        <p class="category">Category: {{ range .Categories }}{{.Name}} {{end}}</p> 
        </div>
        </div>
     </fieldset>
     <br>

{{ end }}
</div>
<h2>My Likes:</h2>  
<div class="post">
{{ range .LikePost }}
<fieldset> 
  
    <legend class="author">{{ .Author.Name }}</legend>
    <div class="content-limit">
        <a href="/post/{{ .ID }}">{{ .Title }}</a>
        <div class="content">
	    <pre>{{.Content}}</pre>
     <br>
     <button class="btn-like" >{{.Like}}</button>
     <button class="btn-dislike" >{{.Dislike}}</button>    
     </div> 
 </div>

  </fieldset> 

   {{ end }}
</div>
</body>
</html>
