body{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    box-shadow: 5px 5px 5px 3px black;
}




.comment{
    margin-left: 20px;
    width: 350px;
    height: 25px;
    resize: none;
}