<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/template/css/commentPage.css">
    <title>Comments</title>
</head>
<body>
        <fieldset>
            <legend>{{ .Post.Author }}</legend>
             <h3>{{ .Post.Title }}</h3>
                <br>
                    {{  .Post.Content }}
                <br>
                <p>Category:{{ .Post.Categories }}</p> 

                <form action="/like-post" method="POST">
                    <input type="hidden" name="postID" value="{{.Post.ID}}">
                    <button class="btn-like" name="status" type="submit" value="1">Like</button>
                    <p>{{.Post.Like}}</p>
                    <button class="btn-dislike" name="status" type="submit" value="-1">Dislike</button>
                    <p>{{.Post.Dislike}}</p>
                </form>

                
                <p>Comments:</p>

                 {{ range .Comment }}
                    <fieldset>       
                        <legend>{{ .Author }}</legend> 
                                 {{ .Content }}
                    </fieldset>
		    <form action="/like-comment" method="POST"> 
			    <button class="btn-like" name="status" type="submit" value="1">Like</button>
                <p>{{.Like}}</p>
			    <button class="btn-dislike" name="status" type="submit" value="-1">Dislike</button>
                <p>{{.Dislike}}</p>
			    <input type="hidden" name="commentID" value={{.ID}}>
                <input type="hidden" name="postID" value="{{.PostID}}">
		    </form>
                {{ end }}
        </fieldset>
             <br>

             <form action="/create-comment" method="POST">
             <input type="hidden" value="{{.Post.ID}}" name="postID">
             <textarea class="comments-class" type="txt" name="content"></textarea>
             <br>
             <button class="btn-comments" type="submit">Отправить</button>
             <br>
             </form>
             <p>Author</p>

</body>
</html>
