<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/template/css/commentPage.css">
    <title>Comments</title>
</head>
<body>
    {{template "header" .}}
        <fieldset class="field">
            <div class="canvas">
            {{range .Post}}
            <legend>{{ .Author.Name }}</legend>
             <h3>{{ .Title }}</h3>
                    {{  .Content }}
                <br>
                <img src="data:image/jpeg;base64, {{ .Pictures }}">
                <p>Category:{{ range .Categories }}{{.Name}}{{end}}</p> 
                <div class="reactions">
                <form action="/like-post" method="POST">
                    <input type="hidden" name="postID" value="{{.ID}}">
                    <button class="btn-like" name="status" type="submit" value="1">Like</button>
                    <p class="like-count">{{.Like}}</p>
                    <button class="btn-dislike" name="status" type="submit" value="-1">Dislike</button>
                    <p class="dislike-count">{{.Dislike}}</p>
                </form>
                </div>
                <div class="create-comment">
                    <form action="/create-comment" method="POST">
                    <input type="hidden" value="{{.ID}}" name="postID">
                    <textarea class="comments-class" type="txt" name="content"></textarea>
                    <br>
                    <button class="btn-comments" type="submit">Upload</button>
                    <br>
                    </form>
                    </div>
               {{ end }}

               <form >
                <input type="file">
               </form>
                </div>
                <p class="comments-h">Comments:</p>
                 {{ range .Comments }}
                 <div class="comment-field">
                    <fieldset>   
                        <div class="content-limit">
                        <legend>{{ .Author.Name }}</legend> 
                        <div class="comment-content" > {{ .Content }}</div>
                             </div>   
                    </fieldset>
                </div>
		    <form action="/like-comment" method="POST"> 
			    <button class="btn-like" name="status" type="submit" value="1">Like</button>
                <p  class="like-count">{{.Like}}</p>
			    <button class="btn-dislike" name="status" type="submit" value="-1">Dislike</button>
                <p class="dislike-count">{{.Dislike}}</p>
			    <input type="hidden" name="commentID" value={{.ID}}>
                <input type="hidden" name="postID" value="{{.PostID}}">
		    </form>
            {{end}}
        </div>
         
        </fieldset>
    
         


</body>
</html>
