<nav>
    <label class="logo">The Forum</label>
    {{ if .Data.Username  }}
    <ul>
        <li> {{.Data.Username  }}</li> 
        <li> <a href="/create-post">Create Post</a></li>
        <li> <a href="/logout">Log Out</a></li>
    </ul>
</nav>
<label class="logo">The Forum</label>
{{ if .Data.Username  }}
<li>{{ .Data.Username }}</li>
<li><form class="formCreatePost" action="/create-post" method="GET"></form>
</li>
<li></li>
<h2>{{ .Data.Username }}</h2> 
<form class="formCreatePost" action="/create-post" method="GET">
 <div>
     <button class="btnCP" type="submit">Create Post</button>
 </div>
</form>

<br>

<form class="formLogout" action="/logout" method="GET">
 <div>
     <p></p>
     <button class="btnL" type="submit">Log Out</button>
 </div>
</form> 
<br>
<div class="profile">
    {{ if .Data.Username  }}

       <h2>{{ .Data.Username }}</h2> 
    <form class="formCreatePost" action="/create-post" method="GET">
        <div>
            <button class="btnCP" type="submit">Create Post</button>
        </div>
    </form>
    
    <br>

    <form class="formLogout" action="/logout" method="GET">
        <div>
            <p></p>
            <button class="btnL" type="submit">Log Out</button>
        </div>
    </form> 
    <br>
   
             {{ else }}
 
    <form class="formSign-up" action="/sign-up" method="GET">
        <div>
            <button class="btnSup" type="submit">Sign Up</button>
        </div>
    </form>
    
    <form class="formSing-in" action="/sign-in" method="GET">
        <div>
            <button class="btnSin" type="submit">Sign In</button>
        </div>
    </form>
    

    {{ end }}

</div>
<br><br><br>
    
<div class="allposts"><form action="/" method="GET"> 
    <label for="category">Chose a topic:</label>
<select class="select-css" name="category">
    <option value="all" type="submit">All</option>
    <option value="art" type="submit">Art</option>
    <option value="coding" type="submit">Coding</option>
    <option value="music" type="submit">Music</option>
    <option value="sport" type="submit">Sport</option>
    <option value="cooking" type="submit">Cooking</option>
    <option value="other" type="submit">Other</option>
</select>
<button name="run" type="submit">Apply</button>
</form> 
<div class="post">
    {{ range .Post }}
      <fieldset>
        <legend>{{ .Author }}</legend>
          <a href="/comments/{{ .ID }}">{{ .Title }}</a>
            <br>
                {{  .Content }}
            <br>
            <p>Category:{{ range .CategoriesArray }}{{.}} {{end}}</p> 

         </fieldset>
    {{ end }}
          
        <br>
</div>
        

    </body>
</html>

