<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/template/css/homepage.css">
    <title>homepage</title>
</head>
<body>
    <h1>Homepage</h1>

    {{ if .Data.Username  }}

        {{ .Data.Username }}
        
    <form class="form" action="/create-post" method="GET">
        <div>
            <button class="btn" type="submit">Создать пост</button>
        </div>
    </form>
    

    <form class="form" action="/logout" method="GET">
        <div>
            <button class="btn" type="submit">Выйти</button>
        </div>
    </form> 
   
             {{ else }}
 
    <form class="form" action="/sign-up" method="GET">
        <div>
            <button class="btn" type="submit">Регистрация</button>
        </div>
    </form>
    
    <form class="form" action="/sign-in" method="GET">
        <div>
            <button class="btn" type="submit">Авторизация</button>
        </div>
    </form>
    

    {{ end }}
    
        {{ range .Post }}
        <fieldset>
            <legend>{{ .Author }}</legend>
               <h3>{{ .Title }}</h3> 
                <br>
                      {{  .Content }}
                 <br>
                 <p>Category:</p> {{ .Categories }}
        </fieldset>
            <br>
            <br>
        {{ end }}

    </body>
</html>

