<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/template/css/index.css">
    <title>homepage</title>
</head>
<body> 
    <nav>   
        <label class="logo">The Forum</label>
        
        {{ if .Data.Username  }}
        <ul>
            <li class="username"> {{.Data.Username  }}</li> 
            <li> <a href="/create-post">Create Post</a></li>
            <li> <a href="/logout">Log Out</a></li>
        </ul>
    {{ else }}
    <ul>
        <li> <a href="/sign-up">Sign Up</a></li>
        <li> <a href="/sign-in">Sign In</a></li>
    </ul> 
  </nav>
    {{ end }}

</div>
    <br>
<div><form action="/" method="GET"> 
    <label for="category">Chose a prefrred topic:</label>
    
<select class="select-css" name="category">
    <option value="all" type="submit">All</option>
    <option value="art" type="submit">Art</option>
    <option value="coding" type="submit">Coding</option>
    <option value="music" type="submit">Music</option>
    <option value="sport" type="submit">Sport</option>
    <option value="cooking" type="submit">Cooking</option>
    <option value="other" type="submit">Other</option>
 
</select>
<button class="button" type="submit">Apply</button>
</form> 
</div>
<br>
<div class="post">
    {{ range .Post }}
      <fieldset>
        <legend class="author">{{ .Author }}</legend>
          <a href="/comments/{{ .ID }}">{{ .Title }}</a>
            <br>
                {{  .Content }}
            <br><br>
            <p>Category: {{ .Categories }}</p> 

         </fieldset>
         <br>

    {{ end }}
          
        <br>
</div>
        

    </body>
</html>

