<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/template/css/homepage.css">
    <title>homepage</title>
</head>
<body>
    <h1>Homepage</h1>

    {{ if .Data.Username  }}

        {{ .Data.Username }}
        
       

    <form class="formCreatePost" action="/create-post" method="GET">
        <div>
            <button class="btnCP" >Создать пост</button>
        </div>
    </form>
    
    <br>

    <form class="formLogout" action="/logout" method="GET">
        <div>
            <button class="btnL" >Выйти</button>
        </div>
    </form> 
   
             {{ else }}
 
    <form class="formSign-up" action="/sign-up" method="GET">
        <div>
            <button class="btnSup" >Регистрация</button>
        </div>
    </form>
    
    <form class="formSing-in" action="/sign-in" method="GET">
        <div>
            <button class="btnSin" >Авторизация</button>
        </div>
    </form>
    

    {{ end }}

    <form action="/filter" method="GET"> 
        <input type="checkbox" name="category" value="Art" >Art</input>
        <input type="checkbox" name="category" value="Coding" >Coding</input>
        <input type="checkbox" name="category" value="Music" >Music</input>
        <input type="checkbox" name="category" value="Sports" >Sport</input>
        <input type="checkbox" name="category" value="Cooking" >Cooking</input>
        <input type="checkbox" name="category" value="Other" >Other</input>
        <button type="submit">Search</button>
    </form> 
    <div class="post">
        {{ range .Post }}
          <fieldset>
            <legend>{{ .Author }}</legend>
              <a href="/post/{{ .ID }}">{{ .Title }}</a>
                <br>
                    {{  .Content }}
                <br>
                <p>Category:{{ .Categories }}</p> 
   
             </fieldset>
        {{ end }}
              
            <br>
    </div>

    </body>
</html>

