<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <p>You are not signed in. </p>
        <p>Please chose to sign in or sign up, if you are not registered</p>
        <a href="/sign-in">Sign In</a> 
        <a href="/sing-up">Sing Out</a>
        <a href="/">HomePage</a>
    </div>
</body>
</html>